## Uso del criterio Tf-IDF

In [55]:
# Importamos las librerías de pandas y Sklearn
import pandas as pd
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer

In [56]:
# Descripciones de series de Netflix tomadas de Wikipedia
# (Cada elemento del arreglo contiene descripciones concatenadas de
# un solo género, siendo los siguientes:)

# 1) Ciencia Ficción [Stranger Things | Black Mirror | The walking dead | Rick y Morty]
# 2) Drama / Comedia [Friends | La teoría del Big Bang | Orange is the new black | Esposas desesperadas, The Office]
# 3) Super Héroes [Daredevil | Jessica Jones | Los defensores | Agentes de S.H.I.E.L.D.]

Stranger_Things = "La historia arranca durante la década de los 80, en el pueblo ficticio de Hawkins, Indiana, cuando un niño llamado Will Byers desaparece, hecho que destapa los extraños sucesos que tienen lugar en la zona, producto de una serie de experimentos que realiza el gobierno en un laboratorio científico cercano."
Black_Mirror = "Black Mirror es una producción británica desarrollada por Charlie Brooker ('Dead set: Muerte en directo'), Una serie de episodios independientes entre sí y, con un reparto y tramas totalmente diferentes, cuyo único punto común es el poder de las nuevas tecnologías para mover el mundo."
Walking_dead = "The Walking Dead es una serie de televisión creada y producida por Robert Kirkman y Frank Darabont, basada en el cómic homónimo de Robert Kirkman. La serie se sitúa en un mundo postapocalíptico y está protagonizada por Rick Grimes (Andrew Lincoln), un oficial de policía que al despertar de un coma se encuentra con que la civilización ha desaparecido debido a un inexplicable fenómeno que hace que las personas muertas se pongan en pie y ataquen a las personas vivas, transformándolas a su vez en caminantes muertos (walking dead). Al encontrar a su familia, Rick se une a un grupo de supervivientes convirtiéndose en su líder. La historia narra las vivencias de dicho grupo, que debe enfrentarse tanto a los caminantes muertos, como a otros grupos de personas vivas que también luchan por subsistir e imponer su poder."
Rick_and_Morty = "Rick por diferentes razones termina mudándose a la casa de su hija Beth y en ese momento se encuentra con su nieto Morty; un joven de 14 años tímido y no muy listo. Al juntarse con su nieto, Rick y Morty vivirán una variedad de aventuras a lo largo del Cosmos y Universos paralelos."

Friends = "La serie trata sobre la vida de un grupo de amigos, Chandler Bing, Phoebe Buffay, Monica Geller, Ross Geller, Rachel Green y Joey Tribbiani que residen en Manhattan, Nueva York. Suceden tanto buenos como malos momentos, pero con una crítica cómica a los hechos más trascendentales de la actualidad."
Teoria_Big_Bang = "La serie comienza con la llegada de Penny (Kaley Cuoco), la nueva vecina que se instala en el piso de enfrente. Penny, que habita las antípodas vitales e intelectuales de ambos cerebritos, altera la tranquila vida sentimental de Leonard y resulta un continuo detonador para el desorden obsesivo-compulsivo de Sheldon."
Orange_is_the_new_black = "Orange is the New Black sigue las vivencias reales de Piper Chapman, una mujer culpable de transportar dinero proveniente del narcotráfico, y sus compañeras de la cárcel Litchfield. La serie trata temas como lesbianismo, racismo, injusticias del sistema penitenciario, represión sexual y corrupción policial."
Esposas_desesperadas = "La serie se desarrolla en Wisteria Lane, zona residencial situada en la imaginaria ciudad de Fairview, Eagle State. Trata de las vidas de cinco amas de casa, a través de sus vidas domésticas a la vez que se revelan varios misterios acerca de sus maridos, amigos y vecinos."
The_office = "Michael es el gerente de una empresa papelera de Pensilvania en la que tiene bajo su mando a personajes como Dwight, su asistente; Pam, la recepcionista; Jim, un vendedor, o Ryan, un joven con contrato temporal que pronto se dará cuenta de que en esta compañía nada es lo que parece."

Daredevil = "Marvel's Daredevil o simplemente Daredevil es una serie de televisión estadounidense de género dramático y acción, creada por Drew Goddard y basada en la historia del superhéroe de Marvel Comics del mismo nombre. Es producida por Marvel Television, en asociación con ABC Studios, DeKnight Prods. y Goddard Textiles, distribuida en el servicio de streaming Netflix y ambientada en el Universo cinematográfico de Marvel."
Jessica_Jones = "Pese a que su corta vida como superheroina terminó en tragedia, Jessica Jones ha estado reconstruyendo su vida personal y su carrera como una temperamental y irascible detective privada en Hell's Kitchen, en la ciudad de Nueva York."
Defensores = "Marvel's The Defenders o simplemente The Defenders es una serie de televisión incluida en el Universo cinematográfico de Marvel. Su estreno tuvo lugar el 18 de agosto de 2017 en el servicio de streaming de Netflix. Está basada en la historia del grupo de mismo nombre de Marvel Comics. Se trata de un crossover de 4 personajes de diferentes series distribuidas también por Netflix, en este grupo se incluye a los superhéroes Daredevil, Jessica Jones, Luke Cage y Iron Fist."
Agentes_SHIELD = "Marvel's Agents of S.H.I.E.L.D.,3​ o simplemente Agents of S.H.I.E.L.D., es una serie de televisión estadounidense, basada en la organización del mismo nombre que aparece en Marvel Comics. Producida por Marvel Television y emitida en la cadena ABC, constituye la primera serie de acción real del estudio​ y forma parte del universo cinematográfico de Marvel, compartiendo continuidad con las demás películas y series de la franquicia. El piloto fue escrito por Joss Whedon, Jed Whedon y Maurissa Tancharoen, y dirigido por el primero."

Descripciones = [Stranger_Things + " " + Black_Mirror + " " + Walking_dead + " " + Rick_and_Morty,
                 Friends + " " + Teoria_Big_Bang + " " + Orange_is_the_new_black + " " + Esposas_desesperadas + " " + The_office,
                 Daredevil + " " + Jessica_Jones + " " + Defensores + " "  + Agentes_SHIELD]

In [57]:
# Inicializar el vectorizador
CV = CountVectorizer()
# Convertir el arreglo de descripciones en un modelo de Textos Vs Vocabulario
VectorPalabras = CV.fit_transform(Descripciones)
# Forma del vector resultante (Textos, Vocabulario)
print("Forma del vector(Textos, Vocabulario) = " + str(VectorPalabras.shape))

Forma del vector(Textos, Vocabulario) = (3, 380)

In [58]:
# Creamos un transformador de nuestro vector
tfidf_transformer = TfidfTransformer(use_idf=True)
tfidf_transformer.fit(VectorPalabras)

# Insertamos los valores en un DataSet
df_idf = pd.DataFrame(tfidf_transformer.idf_, index = CV.get_feature_names_out(), columns = ["Pesos-IDF"])

# Ordenams los valores del de menor relevancia hasta el de mayor relevancia
df_idf.sort_values(by=['Pesos-IDF'])

          Pesos-IDF
los        1.000000
del        1.000000
se         1.000000
que        1.000000
the        1.000000
...             ...
estado     1.693147
esta       1.693147
ese        1.693147
gobierno   1.693147
único      1.693147

[380 rows x 1 columns]

In [59]:
# Creamos el "count vector" el cuál indica la cantidad de
# veces que se repite cada token único
count_vector = CV.transform(Descripciones)

# Cálculo de los valores para tf-idf
tf_idf_vector = tfidf_transformer.transform(count_vector)

# Generamos un DataFrame con los valores tf-idf de cada token
# para cada texto
df = pd.DataFrame(tf_idf_vector.T.todense(),
                  index = CV.get_feature_names_out(),
                  columns = ["TfIdf1 CiFi", "TfIdf2 Drama", "TfIdf3 Marvel"])
# Ordenamos el Dataset por valores (Descendente)
df.sort_values(by=["TfIdf1 CiFi", "TfIdf2 Drama", "TfIdf3 Marvel"],ascending=False)

               TfIdf1 CiFi  TfIdf2 Drama  TfIdf3 Marvel
de                0.425849      0.562983       0.483067
en                0.266156      0.168895       0.322045
que               0.239540      0.225193       0.046006
un                0.239540      0.112597       0.023003
la                0.186309      0.394088       0.161022
...                    ...           ...            ...
temperamental     0.000000      0.000000       0.038948
terminó           0.000000      0.000000       0.038948
textiles          0.000000      0.000000       0.038948
tragedia          0.000000      0.000000       0.038948
tuvo              0.000000      0.000000       0.038948

[380 rows x 3 columns]

In [60]:
print(tf_idf_vector.T.todense())

[[0.04506406 0.         0.        ]
 [0.         0.         0.03894779]
 [0.         0.         0.03894779]
 ...
 [0.         0.03624714 0.0296208 ]
 [0.03427238 0.03624714 0.        ]
 [0.04506406 0.         0.        ]]

In [61]:
# Impresión de sólo la primer columna del DataFrame ordenada
# (Primeros 10 elementos)
df_tfidf1 = pd.DataFrame(df['TfIdf1 CiFi'])
df_tfidf1.sort_values(by=["TfIdf1 CiFi"] ,ascending=False).head(10)

          TfIdf1 CiFi
de           0.425849
en           0.266156
que          0.239540
un           0.239540
su           0.186309
la           0.186309
rick         0.180256
por          0.171362
personas     0.135192
dead         0.135192

In [62]:
# Impresión de sólo la segunda columna del DataFrame ordenada
# (Primeros 10 elementos)
df_tfidf2 = pd.DataFrame(df['TfIdf2 Drama'])
df_tfidf2.sort_values(by=["TfIdf2 Drama"] ,ascending=False).head(10)

       TfIdf2 Drama
de         0.562983
la         0.394088
que        0.225193
en         0.168895
sus        0.142982
serie      0.112597
se         0.112597
un         0.112597
trata      0.108741
penny      0.095321

In [63]:
# Impresión de sólo la tercera columna del DataFrame ordenada
# (Primeros 10 elementos)
df_tfidf3 = pd.DataFrame(df['TfIdf3 Marvel'])
df_tfidf3.sort_values(by=["TfIdf3 Marvel"] ,ascending=False).head(10)

             TfIdf3 Marvel
de                0.483067
marvel            0.428426
en                0.322045
por               0.177725
el                0.161022
la                0.161022
del               0.138019
nombre            0.116843
simplemente       0.116843
comics            0.116843

## Reto: TF-IDF mejora el análisis de características

In [64]:
# Añadir filtrado de StopWords
import nltk
nltk.download('stopwords')
stop_words = nltk.corpus.stopwords.words('spanish')
print(stop_words)

['de', 'la', 'que', 'el', 'en', 'y', 'a', 'los', 'del', 'se', 'las', 'por', 'un', 'para', 'con', 'no', 'una', 'su', 'al', 'lo', 'como', 'más', 'pero', 'sus', 'le', 'ya', 'o', 'este', 'sí', 'porque', 'esta', 'entre', 'cuando', 'muy', 'sin', 'sobre', 'también', 'me', 'hasta', 'hay', 'donde', 'quien', 'desde', 'todo', 'nos', 'durante', 'todos', 'uno', 'les', 'ni', 'contra', 'otros', 'ese', 'eso', 'ante', 'ellos', 'e', 'esto', 'mí', 'antes', 'algunos', 'qué', 'unos', 'yo', 'otro', 'otras', 'otra', 'él', 'tanto', 'esa', 'estos', 'mucho', 'quienes', 'nada', 'muchos', 'cual', 'poco', 'ella', 'estar', 'estas', 'algunas', 'algo', 'nosotros', 'mi', 'mis', 'tú', 'te', 'ti', 'tu', 'tus', 'ellas', 'nosotras', 'vosotros', 'vosotras', 'os', 'mío', 'mía', 'míos', 'mías', 'tuyo', 'tuya', 'tuyos', 'tuyas', 'suyo', 'suya', 'suyos', 'suyas', 'nuestro', 'nuestra', 'nuestros', 'nuestras', 'vuestro', 'vuestra', 'vuestros', 'vuestras', 'esos', 'esas', 'estoy', 'estás', 'está', 'estamos', 'estáis', 'están', 'esté', 'estés', 'estemos', 'estéis', 'estén', 'estaré', 'estarás', 'estará', 'estaremos', 'estaréis', 'estarán', 'estaría', 'estarías', 'estaríamos', 'estaríais', 'estarían', 'estaba', 'estabas', 'estábamos', 'estabais', 'estaban', 'estuve', 'estuviste', 'estuvo', 'estuvimos', 'estuvisteis', 'estuvieron', 'estuviera', 'estuvieras', 'estuviéramos', 'estuvierais', 'estuvieran', 'estuviese', 'estuvieses', 'estuviésemos', 'estuvieseis', 'estuviesen', 'estando', 'estado', 'estada', 'estados', 'estadas', 'estad', 'he', 'has', 'ha', 'hemos', 'habéis', 'han', 'haya', 'hayas', 'hayamos', 'hayáis', 'hayan', 'habré', 'habrás', 'habrá', 'habremos', 'habréis', 'habrán', 'habría', 'habrías', 'habríamos', 'habríais', 'habrían', 'había', 'habías', 'habíamos', 'habíais', 'habían', 'hube', 'hubiste', 'hubo', 'hubimos', 'hubisteis', 'hubieron', 'hubiera', 'hubieras', 'hubiéramos', 'hubierais', 'hubieran', 'hubiese', 'hubieses', 'hubiésemos', 'hubieseis', 'hubiesen', 'habiendo', 'habido', 'habida', 'habidos', 'habidas', 'soy', 'eres', 'es', 'somos', 'sois', 'son', 'sea', 'seas', 'seamos', 'seáis', 'sean', 'seré', 'serás', 'será', 'seremos', 'seréis', 'serán', 'sería', 'serías', 'seríamos', 'seríais', 'serían', 'era', 'eras', 'éramos', 'erais', 'eran', 'fui', 'fuiste', 'fue', 'fuimos', 'fuisteis', 'fueron', 'fuera', 'fueras', 'fuéramos', 'fuerais', 'fueran', 'fuese', 'fueses', 'fuésemos', 'fueseis', 'fuesen', 'sintiendo', 'sentido', 'sentida', 'sentidos', 'sentidas', 'siente', 'sentid', 'tengo', 'tienes', 'tiene', 'tenemos', 'tenéis', 'tienen', 'tenga', 'tengas', 'tengamos', 'tengáis', 'tengan', 'tendré', 'tendrás', 'tendrá', 'tendremos', 'tendréis', 'tendrán', 'tendría', 'tendrías', 'tendríamos', 'tendríais', 'tendrían', 'tenía', 'tenías', 'teníamos', 'teníais', 'tenían', 'tuve', 'tuviste', 'tuvo', 'tuvimos', 'tuvisteis', 'tuvieron', 'tuviera', 'tuvieras', 'tuviéramos', 'tuvierais', 'tuvieran', 'tuviese', 'tuvieses', 'tuviésemos', 'tuvieseis', 'tuviesen', 'teniendo', 'tenido', 'tenida', 'tenidos', 'tenidas', 'tened']

[nltk_data] Downloading package stopwords to /home/eubgo/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [65]:
# Quitar las stopwords del texto original
for i in range(0, len(Descripciones)):
    Descripciones[i] = ' '.join([word for word in Descripciones[i].split() if word not in stop_words])

# Inicializar el vectorizador
CV = CountVectorizer()
# Convertir el arreglo de descripciones en un modelo de Textos Vs Vocabulario
VectorPalabras = CV.fit_transform(Descripciones)

# Calcular la matriz TF-IDF para todos los documentos
tfidf_transformer = TfidfTransformer(use_idf=True)
tfidf_transformer.fit(VectorPalabras)
# Insertamos los valores en un DataSet
df_idf = pd.DataFrame(tfidf_transformer.idf_, index = CV.get_feature_names_out(), columns = ["Pesos-IDF"])
# Ordenamos los valores del de menor relevancia hasta el de mayor relevancia
df_idf.sort_values(by=['Pesos-IDF'])
# Creamos el "count vector" el cuál indica la cantidad de veces que se repite cada token único
count_vector = CV.transform(Descripciones)
# Cálculo de los valores para tf-idf
tf_idf_vector = tfidf_transformer.transform(count_vector)
# Generamos un DataFrame con los valores tf-idf de cada token para cada texto
df = pd.DataFrame(tf_idf_vector.T.todense(),
                  index = CV.get_feature_names_out(),
                  columns = ["TfIdf1 CiFi", "TfIdf2 Drama", "TfIdf3 Marvel"])
# Ordenamos el Dataset por valores (Descendente)
df.sort_values(by=["TfIdf1 CiFi", "TfIdf2 Drama", "TfIdf3 Marvel"],ascending=False)

               TfIdf1 CiFi  TfIdf2 Drama  TfIdf3 Marvel
rick              0.277670      0.000000       0.000000
dead              0.208253      0.000000       0.000000
personas          0.208253      0.000000       0.000000
serie             0.163997      0.187608       0.127126
la                0.158382      0.241580       0.000000
...                    ...           ...            ...
tancharoen        0.000000      0.000000       0.053811
temperamental     0.000000      0.000000       0.053811
terminó           0.000000      0.000000       0.053811
textiles          0.000000      0.000000       0.053811
tragedia          0.000000      0.000000       0.053811

[345 rows x 3 columns]

In [66]:
# Impresión de sólo la primer columna del DataFrame ordenada (Primeros 10 elementos)
df_tfidf1 = pd.DataFrame(df['TfIdf1 CiFi'])
df_tfidf1.sort_values(by=["TfIdf1 CiFi"] ,ascending=False).head(10)

            TfIdf1 CiFi
rick           0.277670
dead           0.208253
personas       0.208253
serie          0.163997
la             0.158382
mundo          0.138835
muertos        0.138835
poder          0.138835
caminantes     0.138835
nieto          0.138835

In [67]:
# Impresión de sólo la segunda columna del DataFrame ordenada (Primeros 10 elementos)
df_tfidf2 = pd.DataFrame(df['TfIdf2 Drama'])
df_tfidf2.sort_values(by=["TfIdf2 Drama"] ,ascending=False).head(10)

            TfIdf2 Drama
la              0.241580
serie           0.187608
trata           0.181185
vidas           0.158824
geller          0.158824
amigos          0.158824
penny           0.158824
vida            0.120790
nueva           0.120790
domésticas      0.079412

In [68]:
# Impresión de sólo la tercera columna del DataFrame ordenada (Primeros 10 elementos)
df_tfidf3 = pd.DataFrame(df['TfIdf3 Marvel'])
df_tfidf3.sort_values(by=["TfIdf3 Marvel"] ,ascending=False).head(10)

                 TfIdf3 Marvel
marvel                0.591919
netflix               0.161432
simplemente           0.161432
mismo                 0.161432
cinematográfico       0.161432
daredevil             0.161432
nombre                0.161432
universo              0.161432
comics                0.161432
serie                 0.127126